<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%x - [%d{dd/MM/yyyy HH:mm:ss}] %p %c - %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="jakarta.enterprise" level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE" />
        </Logger>
        <Logger name="org.jboss.weld" level="ERROR" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="CONSOLE" />
        </Root>
    </Loggers>
</Configuration>
